body {
  background: #f6f6f6;
}

.client {
  background: white;
  min-height: 100vh;
  padding: 0 30px;
  box-shadow: 0 0 15px #eee;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
