nav {
  padding: 10px 0;
  margin-bottom: 15px;

  p {
    display: inline;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    a {
      color: #222;
    }
  }
  p.right {
    a {
      color: grey;
      font-size: 14px;
      font-weight: normal;
    }
    float: right;
    margin-left: 15px;
    line-height: 1.25;
  }
}
